@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
}

.hero {
	background-image: url('./images/hero.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.action-section {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #453B6B 100%), url('./images/secondMain.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


@layer components {
	.primary-btn {
		@apply primary-bg-color secondary-txt-color p-[5px] rounded-[5px] 
	}
}

@layer utilities {
	.primary-txt-color {
		color: #AA9BE6;
	}

	.primary-bg-color {
		background-color: #AA9BE6;
	}
	
	.secondary-txt-color{
		color: #FEFEDF;
	}

	.icon-bg {
		background-color: #7468AD;
	}
  }