@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lora', serif;
}

.hero {
	background-image: url('./images/hero.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


@layer utilities {
	.primary-txt-color {
		color: #AA9BE6;
	}

	.primary-bg-color {
		background-color: #AA9BE6;
	}
	
	.secondary-txt-color{
		color: #FEFEDF;
	}

	.primary-btn {
		background-color: #AA9BE6;
		color: #FEFEDF;
		padding: 5px;
		border-radius: 5px;
	}
  }